.book-manager-createbook-container {
    padding: 20px;

    .caption {
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #cfd4e5;
        color: #999999;
    }
    .book-edit-wrapper {
        padding-top: 20px;
    }
}