.web-header {
    display: flex;
    background: rgba(255, 255, 255, .8) !important;
    justify-content: space-between;
    box-shadow: 0 3px 3px rgba(00, 0, 0, .05);
    z-index: 999;

    .main-wrapper {
        display: flex;
        align-items: center;

        .logo {
            width: 40px;
             height: 40px;
        }

        .system-name {
            font-size: 20px;
            font-weight: bold;
            padding-left: 10px;
        }
    }

    .sub-infos-wrapper {
        display: flex;
        align-items: center;

        .logout {
            padding: 0 10px;
            color: #1677ff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}