.web-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .main-container {
        flex: 1;
        background-color: #ffffff;
        display: flex;
        height: 100%;

        .main-container-wapper {
            height: 100%;
            flex: 1;
            overflow: auto;
        }
    }
}